In [1]:
!python3 -m pip install --upgrade pip

Requirement already satisfied: pip in /home/codespace/.python/current/lib/python3.12/site-packages (24.3.1)
Collecting pip
  Downloading pip-25.0.1-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-25.0.1-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 25.4 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.3.1
    Uninstalling pip-24.3.1:
      Successfully uninstalled pip-24.3.1
Successfully installed pip-25.0.1

In [2]:
!pip install xlml

Collecting xlml
  Downloading XLML-0.1.2.tar.gz (2.3 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: xlml
  Building wheel for xlml (pyproject.toml) ... done
  Created wheel for xlml: filename=xlml-0.1.2-py3-none-any.whl size=2569 sha256=2e31a8ef537ccf758dbfd0bebecaeba93dd7c975a783a49fbe21722b26172ff6
  Stored in directory: /home/codespace/.cache/pip/wheels/fb/c3/5f/28a90ce98e7a932dc8ba45c072165bc2f30e7fdc1fa8bffe53
Successfully built xlml
Installing collected packages: xlml
Successfully installed xlml-0.1.2

In [3]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/codespace/.local/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4) (2.6)

In [4]:
from bs4 import BeautifulSoup
from datetime import datetime
import requests
import time

In [5]:
import pandas as pd

In [7]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.3)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [8]:
import pandas as pd

# Ruta del archivo Excel (ajusta la ruta según tu caso)
file_path = "/workspaces/trabajo_clase_2/archivo_convertido.xlsx" 

# Cargar el archivo Excel
df = pd.read_excel(file_path)

# Mostrar las primeras filas para explorar la estructura del archivo
df.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,label,detailed-label
0,1.551378e+09,C9mqzS28ln5Lv41J09,192.168.1.200,52724,167.99.182.238,80,tcp,http,1.978591,149,...,-,0,ShADadttfF,174,11698,172,247844,-,Malicious C&C,HeartBeat
1,1.551378e+09,CUQLPn2ZXYFN1lNgo6,192.168.1.200,52726,167.99.182.238,80,tcp,http,2.182247,149,...,-,0,ShADadttfF,172,11570,170,247740,-,Malicious C&C,HeartBeat
2,1.551378e+09,CSw2Xf4Q5Yb2mOblGe,192.168.1.200,52728,167.99.182.238,80,tcp,http,1.675550,152,...,-,0,ShADadttfF,124,8120,122,172596,-,Malicious C&C,HeartBeat
3,1.551378e+09,CJMu2W757U3nVjHBg,192.168.1.200,52730,167.99.182.238,80,tcp,http,1.798966,149,...,-,0,ShADadttfF,136,8578,134,193266,-,Malicious C&C,HeartBeat
4,1.551378e+09,Csezqd4dveYyBuJOza,192.168.1.200,52732,167.99.182.238,80,tcp,http,1.938142,149,...,-,0,ShADadttfF,170,11602,170,244256,-,Malicious C&C,HeartBeat

In [9]:
print(df.columns)

Index(['ts', 'uid', 'id.orig_h', 'id.orig_p', 'id.resp_h', 'id.resp_p',
       'proto', 'service', 'duration', 'orig_bytes', 'resp_bytes',
       'conn_state', 'local_orig', 'local_resp', 'missed_bytes', 'history',
       'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes',
       'tunnel_parents', 'label', 'detailed-label'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ts              1000 non-null   float64
 1   uid             1000 non-null   object
 2   id.orig_h       1000 non-null   object
 3   id.orig_p       1000 non-null   int64
 4   id.resp_h       1000 non-null   object
 5   id.resp_p       1000 non-null   int64
 6   proto           1000 non-null   object
 7   service         1000 non-null   object
 8   duration        1000 non-null   float64
 9   orig_bytes      1000 non-null   int64
 10  resp_bytes      1000 non-null   int64
 11  conn_state      1000 non-null   object
 12  local_orig      1000 non-null   object
 13  local_resp      1000 non-null   object
 14  missed_bytes    1000 non-null   int64
 15  history         1000 non-null   object
 16  orig_pkts       1000 non-null   int64
 17  orig_ip_bytes   1000 non-null   int64
 18  resp_pkts       1000 non-null   int64
 19  resp_ip_bytes   1000 non-null   int64
 20  tunnel_parents  1000 non-null   object
 21  label           1000 non-null   object
 22  detailed-label  11 non-null     object
dtypes: float64(2), int64(9), object(12)
memory usage: 179.8+ KB

In [11]:
selected_columns = ['ts', 'proto', 'orig_bytes', 'resp_bytes', 'label']
df_selected = df[selected_columns]

# Mostrar las primeras filas de las columnas seleccionadas
df_selected.head()

             ts proto  orig_bytes  resp_bytes            label
0  1.551378e+09   tcp         149      119442  Malicious   C&C
1  1.551378e+09   tcp         149      119442  Malicious   C&C
2  1.551378e+09   tcp         152       83118  Malicious   C&C
3  1.551378e+09   tcp         149       88797  Malicious   C&C
4  1.551378e+09   tcp         149      117700  Malicious   C&C

In [12]:
df_sample = df_selected.sample(n=10, random_state=42)
print(df_sample)

               ts proto  orig_bytes  resp_bytes  \
521  1.551378e+09   tcp           0           0
737  1.551378e+09   tcp           0           0
740  1.551378e+09   tcp           0           0
660  1.551378e+09   tcp           0           0
411  1.551378e+09   tcp           0           0
678  1.551378e+09   tcp           0           0
626  1.551378e+09   tcp           0           0
513  1.551378e+09   tcp           0           0
859  1.551378e+09   tcp           0           0
136  1.551378e+09   tcp           0           0

                                     label
521  Malicious   PartOfAHorizontalPortScan
737  Malicious   PartOfAHorizontalPortScan
740  Malicious   PartOfAHorizontalPortScan
660  Malicious   PartOfAHorizontalPortScan
411  Malicious   PartOfAHorizontalPortScan
678  Malicious   PartOfAHorizontalPortScan
626  Malicious   PartOfAHorizontalPortScan
513  Malicious   PartOfAHorizontalPortScan
859  Malicious   PartOfAHorizontalPortScan
136  Malicious   PartOfAHorizontalPortScan

In [13]:
print("Valores nulos por columna:")
print(df_sample.isnull().sum())

Valores nulos por columna:
ts            0
proto         0
orig_bytes    0
resp_bytes    0
label         0
dtype: int64

In [14]:
df_sample = df_sample.dropna()

In [15]:
print("Tipos de datos en las 5 columnas seleccionadas:")
print(df_sample.dtypes)

Tipos de datos en las 5 columnas seleccionadas:
ts            float64
proto          object
orig_bytes      int64
resp_bytes      int64
label          object
dtype: object

In [16]:
df_sample['orig_bytes'] = pd.to_numeric(df_sample['orig_bytes'], errors='coerce')
df_sample['resp_bytes'] = pd.to_numeric(df_sample['resp_bytes'], errors='coerce')

In [17]:
df_sample.to_excel('/workspaces/trabajo_clase_2/datos_limpiado.xlsx', index=False, engine='openpyxl')